<div class="container">

  <!-- Currency -->
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="btn-toolbar"
           role="toolbar">
        <div class="btn-group me-2"
             role="group">
          <button *ngFor="let currency of Currencies"
                  (click)="onCurrencyChanged(currency);"
                  type="button"
                  class="btn"
                  [ngClass]="{
                    'btn-secondary': CurrencyMap[currency] === currentSymbol,
                    'btn-outline-secondary': CurrencyMap[currency] !== currentSymbol
                  }">{{ currency }}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- ChartContainer -->
  <div class="row">
    <div [id]="ChartContainerID"
         class="m-2"> </div>
  </div>
</div>